html, body { height: 100%;}
#map-canvas { height: 93%; }
#map-selectors-outer {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 99;
  bottom: 80px;
  overflow-y: hidden;
}

#map-selectors-outer > .panel {
  height: 100%;
}

#map-selectors.panel-body {
  height: 93%;
}
#map-selectors-collapse {
  height: 100%;
}

#map-selectors {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

#map-selectors, .count {
  padding-left: 10px;
}

#map-selectors input {
  margin-right: 10px;
}

#map-filter {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  background-color: black;
}

#map-filter-info {
  margin-left: 20px;
  margin-top: 15px;
}

#map-filter-info > .filter-info-input {
  margin-right: 15px;
}

#map-filter-info > label {
  padding-right: 3px;
}
#map-filter-info > label,
#map-filter-info > input,
#map-filter-info > button {
  display: inline-block;
}

